Port 22
PermitRootLogin no
PasswordAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile /home/jump/.ssh/authorized_keys

AllowUsers jump

AllowTcpForwarding local
AllowAgentForwarding no
GatewayPorts no
X11Forwarding no
PermitTTY no
PermitUserRC no

MaxAuthTries 3
LoginGraceTime 30
ClientAliveInterval 60
ClientAliveCountMax 3